<form #form="ngForm">
  <label>Nome:</label>
  <input type="text" name="nome" #nome="ngModel" [ngModel]="nome.value" required>
  <span *ngIf="!nome.valid && (nome.dirty && nome.touched)" >Invalid</span>
  <br>
  {{ nome.valid }}
  {{ nome.dirty }}
  {{ nome.touched }}
  <br>

  <br>
  <br>

  <label>Masculino</label>
  <input type="radio" name="sexo" value="masculino" ngModel>
  <br>
  <label>Fiminino</label>
  <input type="radio" name="sexo" value="feminino" ngModel>
  <br>
  <label>Outros</label>
  <input type="radio" name="sexo" value="outros" ngModel>
  
  <br>
  <br>

  <label>Angular</label>
  <input type="checkbox" name="angular" ngModel>
  <br>
  <label>Vue</label>
  <input type="checkbox" name="vue" ngModel>
  <br>
  <label>React</label>
  <input type="checkbox" name="react" ngModel>

  <br>
  <br>

  <select name="comidas" ngModel>
    <option value="">Selecione um comida</option>
    <option *ngFor="let item of comidas" [value]="item.comida">{{ item.comida }}</option>
  </select>
</form>

<br>
<br>
<br>
<br>
{{ form.value | json }}
<br>
{{ form.valid }}
